/* change aligment of h2 and p tag */
#channelsContainer h2,#channelsContainer p{
    text-align: left;
    text-decoration: none;
    color: white;
}
#channelsContainer h1{
    color: white;
}

/* Channel messenger */
#channelsContainer {
    background-color:  rgb(32, 32, 32);
}

/* fade channel  option on hover */
#channelsContainer .ChannelLink:hover,a:hover{
    opacity: 0.3 ;
    text-decoration: none !important;
}