/* style for entire message boy */
.MessageBody {
    margin-top: 0.5em;
    min-height: 4em;
    animation: popUp 0.5s;
}

@keyframes popUp {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Style button elements */
.MsgBtn {
    display: inline-block;
    text-align: right;
    font-size: 1.5em;
}

/* Style text in message */
.descriptionMessage {
    background-color: transparent;
    border-radius: 1em; 
    border: 1px solid whitesmoke;
}

